dlt[filesystem,sql_database,parquet]>=0.5.0
psycopg2-binary>=2.9.9
sqlalchemy>=2.0
pyarrow>=14.0
s3fs>=2024.2.0
duckdb>=0.10.0
ruff>=0.3.0
pytest>=8.0
dbt-athena-community>=1.7.0
prefect>=3.0.0
prefect-aws>=0.5.0
