[sources.pushmetrics.credentials]
drivername = "postgresql"
host = "localhost"
port = 5434
database = "pushmetrics_dev"
username = "dev"
password = "devpassword"

[destination.filesystem.credentials]
region_name = "eu-central-1"
